{% extends "base.html" %}
{% block title %}Article modify{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_register.css') }}">
{% endblock %}
{% block content %}
    
    <div id="container">
        <form action="/articles/{{article_details.id}}/modify" method="POST">
            <h3>Modify article</h3>
           
                    title : <input  id="title" value= "{{article_details.title}}" name="title" type="text" class="validate">
              
                    body : <input  id="body" value= "{{article_details.body}}" name="body" type="text" class="validate">
               
            <input type="submit" value="Modify" />
        </form>
    
     </div>

{% endblock %}