<!doctype html>
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>{% block title %}My Webpage{% endblock %} </title>
        
        {% endblock %}
    </head>
    <body>
        <nav class="navv">
            <div class="nav-wrapper">
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if user %}
                <li><a href="/">Home</a></li>
                <li><a href="/users/">List of users</a></li>
                <li><a href="/articles/">Articles</a></li>
                <li><a href="/logout">logout</a></li>
                {% else %}
                <li><a href="/login/">Login</a></li>
                <li><a href="/register/">Register</a></li>
               {% endif %}
              </ul>
            </div>
          </nav>
           <!-- Flash -->
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class="flashes">
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        <!-- errors -->
      {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
                
        <div id="content">{% block content %}{% endblock %}</div>

    </body>
</html>